@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

:root {
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    color: #fff;
}


body {
    margin: 0;
    padding: 0;
}

.container {
    width: 48vw;
    margin: 0 auto;
}

.container h1 {
    margin-top: 0px;
    text-align: center;
}

.container button {
    margin-top: 2rem;
    /* border: 3rem; */
    /* border-radius: 1rem; */
}

.table {
  background-color: #3f88c5;
  height: 100vh;

  padding-top: 5rem;
}

.table__board {
    width: 48vw;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5rem;

    place-items: center;

    background-color: #fffa62;
    padding: 0.5rem;
    border-radius: 0.625rem;
    box-shadow: 0.875rem 0.875rem 0 0 #0004;
}

.table__board__card {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #ffcf7f;
    border-radius: 00.625rem;
    width: 5rem;
    height: 6rem;
    cursor: pointer;
    font-weight: 700;

    color: transparent;

    transform: rotateY(180deg);
    transform-style: preserve-3d;
    transition: transform .3s ease;
}

.open {
    background-color: #ff9090;
    color: #fff;

    transform: rotateY(0);
}

